# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# IDEs and editors
.vscode/
.idea/
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
